<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Hamburger button -->
      <!-- When clicked it will toggle if it's collapsed -->
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed" 
      >
        <!-- Hamburger button will have 3 lines -->
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <!-- navbar-brand is used for your company, product, or project name https://getbootstrap.com/docs/4.1/components/navbar/ -->
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <!-- When the navbar collapses on smaller screens we set collapsed to true -->
    <!-- This will instead show the hamburger button -->
    <!-- [class.collapse]="collapsed" is the same as [ngClass]="{collapse: collapsed}" -->
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <!-- When either is clicked, it will only disable the html from that feature (see app.component.html) -->
        <li><a href="#" (click) = "onSelect('recipe')">Recipes</a></li>
        <li><a href="#" (click) = "onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
