<div class="container">

  <!-- These two events are custom events on the CockpitComponent -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">

     

      <div class="btn-toolbar">
        <!-- Demonstrates ngOnChanges fires every change to data-bound property -->
        <!-- https://angular.io/api/core/OnChanges -->
        <button class="btn btn-primary" (click)="onChangeFirst()">
          Change first Element
        </button>
  
        <!-- Demonstrates destroying components so OnDestroy is called -->
        <button class="btn btn-danger" (click)="onDestroyFirst()">
          Destory first Component
        </button>
      </div>
      

      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name">
      
      <!-- This section of the code is possible thanks to <ng-content> directive -->
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">
          {{ serverElement.content }}
        </strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
    </app-server-element>

    </div>
  </div>
</div>
