<label>Server Name</label>

<!-- Event binding example sending the $event object to the Component function -->
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->

<!-- Two-way binding (property and event binding) example -->
<!-- What this example does is trigger on the input event and update the 
value of serverName in our Component automatically and also updates the values of the input element when serverName changes.
So the default name of serverName will be the value of the input -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>

<p>{{ serverName }}</p>

<!-- We put !allowNewServer because the disabled property of the button
    is bound to the value of allowNewServer member variable. The button will be enabled
    when !allowNewServer = true (after 2 seconds of creation) -->
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server
</button>

<p>{{ serverCreationStatus }} </p>

<!-- Two ways to do the same thing using string interpolation and property binding -->
<!-- Note that you can't put {{ }} inside quotes, it will break. -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ allowNewServer }} </p> -->

<app-server></app-server>
<app-server></app-server>