<label>Server Name</label>
<input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
    >

<!-- We put !allowNewServer because the disabled property of the button
    is bound to the value of allowNewServer member variable. The button will be enabled
    when !allowNewServer = true (after 2 seconds of creation) -->
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server
</button>

<p>{{ serverCreationStatus }} </p>

<!-- Two ways to do the same thing using string interpolation and property binding -->
<!-- Note that you can't put {{ }} inside quotes, it will break. -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ allowNewServer }} </p> -->

<app-server></app-server>
<app-server></app-server>