<label>Server Name</label>

<!-- Event binding example sending the $event object to the Component function -->
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->

<!-- Two-way binding (property and event binding) example -->
<!-- What this example does is trigger on the input event and update the 
value of serverName in our Component automatically and also updates the values of the input element when serverName changes.
So the default name of serverName will be the value of the input -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>

<p>{{ serverName }}</p>

<!-- We put !allowNewServer because the disabled property of the button
    is bound to the value of allowNewServer member variable. The button will be enabled
    when !allowNewServer = true (after 2 seconds of creation) -->
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server
</button>

<!-- <p>{{ serverCreationStatus }} </p> -->

<!-- Example of Directives using Template Directives (ngIf is a built in directive) -->
<p *ngIf="serverCreated; else noServer">Server was created. server name is {{ serverName }}</p>
<!-- #noServer is a local reference that marks the spot in the DOM where the paragraph will be placed -->
<ng-template #noServer>
    <p>No Server was created!</p>
</ng-template>

<!-- Two ways to do the same thing using string interpolation and property binding -->
<!-- Note that you can't put {{ }} inside quotes, it will break. -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ allowNewServer }} </p> -->

<!-- Iterates through all elements of servers array -->
<!-- We can't actually pass data this way (server name) so this is just creating random server components. -->
<app-server *ngFor="let server of servers"></app-server>